<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <!-- <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li> -->
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Data</h1>
    <p>Full Path: {{filename}}</p>
    <p>Index: <span>{{fileIndex+1}}</span>/<span>{{filelist.length}}</span></p>
    <p> Goto Index: <input #indexInput type="text" [value]="fileIndex+1" /><button class='btn btn-default' [disabled]="isLoading"
        (click)="loadData(indexInput.value-1);">Go</button></p>
    <p>
      <button class='btn btn-default' [disabled]="fileIndex<=0||isLoading" (click)="saveAnnotation(fileIndex);loadData(fileIndex-1);">Pre</button>
      <button class='btn btn-default' [disabled]="fileIndex+1>=filelist.length||isLoading" (click)="saveAnnotation(fileIndex);loadData(fileIndex+1);">Next</button>
      <button class='btn btn-default' (click)="saveAnnotation(fileIndex)" [disabled]="isLoading">Save</button>
      <button class='btn btn-default' (click)='onAddBBox()' [disabled]="isLoading">Add Box</button>
    </p>
    <div class="row">
      <div class="col-sm-12" (window:resize)="onCanvResize($event)">
        <canvas #annoCanvas width="900px" height="700px" style="margin: 0 auto; border: 1px solid">
          Canvas not supported.
        </canvas>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Actions
      <div class='pull-right'><button class='btn btn-sm btn-default' (click)='onAddBBox()' [disabled]="isLoading">+</button></div>
    </div>
    <div class="panel-body">

      <div *ngFor="let anno of annotations; let i = index" class='row'>
        <div class='col-sm-2'>
          id: <input type="text" size=4 [value]='anno.id' (keyup)='anno.id=$event.target.value' />
        </div>
        <div class='col-sm-4'>
          Bounding Box: {{anno.bbox[0]}},{{anno.bbox[1]}},{{anno.bbox[2]}},{{anno.bbox[3]}}
        </div>
        <div class='col-sm-4'>
          <div *ngIf='anno.lms.length>0'>
            Landmarks generater
          </div>
          <div *ngIf='anno.lms.length<=0'>
            Waiting to generate Landmarks.
          </div>
        </div>
        <div class='col-sm-2'>
          <a class='btn btn-danger' (click)="removeAnnotation(i)">Del</a>
        </div>
      </div>
      <div *ngIf="isLoading; else noannotation">Loading</div>

    </div>
  </div>
</div>
<!-- /container -->